<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel ="false">

  <test thread-count="5" name="End to End Flow">
    <classes>
      <class name="smokeTestPack.smokeTest"/>
    </classes>
  </test>  <!-- Test -->
</suite> <!-- Suite -->